@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "./vars";
@import "./general";

body{
  font-family: $font;
  background-color: $gray;
  height: 200vh;
  -webkit-font-smoothing: antialiased;
  // padding-top: 156px;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: background-color .5s ease-in-out;
  &.active{
    background-color: #ffffffe6 !important;
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.05);
  }
  .navbar{
    padding: 40px 0 !important;
    position:initial;
    @media (max-width:767px) {
      padding: 7px 0 !important;

    }
    .navbar-brand{
      position: relative;
      z-index: 999;
      color: #0D193F;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      span{
        border-left: 1px solid #C8C8C8;
        padding-left: 20px;
        margin-left: 20px;
        margin-top: 10px;
        font-weight: 500;
        font-family: $font;
        @media(max-width:992px){
          display: none;
        }
      }
      img{
        width: 246px;
        @media (max-width:767px) {
          width:115px;
        }
      }
    }
    .navbar-toggler{
      padding-right: 0;
      position: relative;
      z-index: 999;
      outline: none !important;
      &:focus{
        border: transparent;
        outline: none !important;
      }
      .hamburger{
        padding-right: 0;
      }
    }

    .navbar-collapse{

      @media (max-width:991px) {
        background-color: white;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        padding: 140px 30px;
      }
    }
    .navbar-nav{
      .nav-item{
        margin-left: 10px;
        margin-right: 10px;
        @media(max-width:1250px){
          margin-left: 5px;
          margin-right: 5px;
        }
        @media(max-width:1050px){
          margin-left: 0px;
          margin-right: 0px;
        }
        @media (max-width:767px) {
          text-align: center;
        }
        .nav-link{
          font-family: $font;
          &:not(.btn){
            line-height: 60px;
            font-size: 19px;
            color: $black;
            font-weight: 500;
            @media(max-width:1250px){
              font-size: 16px;
              line-height: 45px;
            }
            @media (max-width:991px) {
              font-size: 24px;
            }
          }
          &.btn{
            margin-left: 40px;
            img{
              margin-right: 5px;
            }
            @media(max-width:1250px){
              margin-left: 10px;
            }
            @media(max-width:1050px){
              margin-left: 0px;
            }
            @media (max-width:991px) {
              max-width: 260px;
              margin-left: auto;
              margin-right: auto;
              margin-top: 20px;
              margin-bottom: 60px;
            }
          }
          &.btn-1{
            @media(max-width:1250px){
              height: 60px;
              line-height: 42px;
              font-size: 18px;
              padding-left: 20px !important;
              padding-right: 20px !important;
            }
          }
        }

      }
    }
  }
  &.white{
    background-color: #ffffff;
    .navbar-nav{
      .nav-item{
        .nav-link{
          &:not(.btn){
            line-height: 46px;
          }
          &.btn{
            margin-left: 0px !important;
            @media(max-width:992px){
              margin-left: auto !important;
              margin-right: auto;

              display: block;
              line-height: 35px;
            }
          }
        }
      }
    }
  }
  &.green{
    background-color: #0E3B26;
    ///////////
    &.active{
      background-color: #0E3B26e6 !important;
      box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.05);
    }

    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
      background-color: #ffffffe6 !important;
    }
    .navbar .navbar-collapse{
      @media (max-width:992px) {
        background-color: #0E3B26;
      }
    }
    .navbar-brand{
      color: #ffffff;
      span{
      border-left: 1px solid rgba(255, 255, 255, 0.27);
      }
    }
    .navbar-nav{
      .nav-item{
        .nav-link{
          @media (max-width:992px) {
            text-align: center;
          }
          &:not(.btn){
            line-height: 46px;
            color: #ffffff !important;
          }
          &.btn{
            margin-left: 0px !important;
            @media(max-width:992px){
              margin-left: auto !important;
              margin-right: auto;
              display: block;
              line-height: 35px;
            }
          }
        }
      }
    }
    /////////////
  }
}

.hero-2{
  position: relative;
  overflow: hidden;
  &:before{
    content: "";
    display: block;
    position: absolute;
    top: -39%;
    left: -30%;
    height: 130%;
    width: 150%;
    background-color: #1B4631;
    z-index: -1;
    transform: rotate(-3deg);
    background-image: url(../images/hero-2-background.png);
    background-position: left center;
    background-size: 53%;
    background-repeat: no-repeat;
  }
}

.hero{

  &__item{
    position: relative;
    min-height: 300px;

    &--inner{
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-65%);
      @media (max-width:1024px) {
        transform: translateY(-35%);
      }
      @media (max-width:600px) {
        transform: translateY(-25%);
      }
      @media (max-width:600px) {
        .text{
          margin-bottom: 20px !important;
        }
      }

      .pl-3{
        @media (max-width:600px) {
          display: block;
          height: 12px;
        }
      }
      .btn-2{
        // @media(max-width:991px){
        //   min-width: 311px;
        // }
        @media(max-width:600px){

          display: block;
        }
      }
    }
  }
}

.logo-slider{
  position: relative;
  z-index: 99;
  margin-top: -15%;
  @media(max-width:1200px){
    margin-top: -5%;
  }
  @media(max-width:991px){
    order: 2;
    margin-top: 0;
    padding-bottom: 60px;
    .text-3{
      display: none;
    }
  }
  .card{
    border: 0;
    background: #FFFFFF;
    box-shadow: 0px 60px 160px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
  }
  .hero-logo-slider__container{
    padding-bottom: 20px;
  }
  .hero-logo-slider__item{

  }
  .slick-arrow{
    position: absolute;
    top:50%;
    transform: translateY(-70%);
    width: 52px;
    height: 52px;
    font-size: 0;
    color: transparent;
    border: 0;
    border-radius: 50px;
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 99;
    @media(max-width:991px){
      transform: translateY(-50%);
    }
    &.slick-prev {
      left: calc(-1.25rem - 26px);
      background-image: url(../images/logo___slider___arrow-left-min.png);

    }
    &.slick-next{
      right: calc(-1.25rem - 26px);
      background-image: url(../images/logo___slider___arrow-right-min.png);
    }
  }
  @media(max-width:991px){
    .hero-logo-slider__container{
      padding-bottom: 0px;
    }
  }
}

.learn-explore{
  padding-bottom: 180px;
  padding-top: 180px;
  position: relative;
  @media(max-width:991px){
    order: 1;
    padding-top: 80px;
    padding-bottom: 40px;
  }
  @media(max-width:390px){
    padding-top: 100px;
  }
  @media(max-width:350px){
    padding-top: 130px;
  }
  @media(max-width:767px){
    .container{
      padding-left: 0px;
      padding-right: 0px;
    }
    .title-1{
      padding-right: 30px;
      padding-left: 30px;
      margin-bottom: 20px !important;
    }
  }
  .slick-dots{
    list-style: none;
    display: none !important;
    justify-content: center;
    padding:0;
    margin:0;
    margin-top: 10px;
    @media(max-width:768px){
      display: flex !important;
    }
    button{
      border: 0;
      outline: none;
      background:transparent;
      font-size: 0;
      color: transparent;
      &::before{
        content: "";
        display: block;
        width: 9px;
        height: 9px;
        background-color: #989898;
        border-radius: 9px;
        transition: background-color .5s ease-in-out;
      }
    }

      li{
        &.slick-active,&:hover{
          button{
            &::before{
              background-color: #2D995E;
            }
          }
        }
      }
  }
  &:before{
    content: "";
    display: block;
    height: 1228px;
    width: 769px;
    background-image: url(../images/green____shape__right-min.png);
    background-size: 100%;
    position: absolute;
    top: -70%;
    right: 0px;
    z-index: -1;
  }
  .learn-explore__slider{
    .slick-track{
      display: flex;
    }
    .learn-explore__slider__item{
      margin-bottom: 30px;
      float: none !important;
      height: auto;
      @media(max-width:767px){
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    .learn-explore__slider__item--inner{
      display: block;
      padding: 30px;
      padding-bottom: 70px;
      border-radius: 8px;
      background-color: transparent;
      transition: background-color .5s ease-in-out,box-shadow .5s ease-in-out;
      min-height: 344px;
      position: relative;
      .text-2{
        color: #0D193F;
      }
      @media(min-width:768px){
        position: relative;
        &::before{
          content: "";
          background-color: #C4C4C4;
          height: 1px;
          display: block;
          width: calc(100% - 60px);
          position: absolute;
          bottom: 0;
          left: 30px;
          transition: opacity .5s ease-in-out;
        }
        &:hover{
          &::before{
            opacity: 0;
          }
        }
      }

      @media(max-width:767px){
        background-color: $white;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
        text-decoration: none;
        .learn-explore__slider__item__link{
          border-bottom: 1px solid transparent !important;
        }
      }
      &:hover{
        background-color: $white;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
        text-decoration: none;
        .learn-explore__slider__item__link{
          // border-bottom: 1px solid transparent;
        }
      }
      .learn-explore__slider__item__link{
        color: $black;
        text-transform: uppercase;
        font-weight: 700;
        display: block;
        // border-bottom: 1px solid #C4C4C4;
        // padding-bottom: 30px;
        transition: border-color .5s ease-in-out;
        position: absolute;
        bottom: 30px;
        left: 30px;
        img{
          display: block;
          width: 18px;
        }
      }
    }
  }
}

.logo-slider___learn-explore{
  display: flex;
  flex-direction: column;
  & > div:last-child{
    @media(max-width:991px){
      order: 1;
    }
  }
  & >  div:first-child{
    @media(max-width:991px){
      order: 2;
    }
  }
}

.long-term-care{
  // padding-bottom: 180px;
  padding-top: 180px;
  position: relative;
  background-color: $dark-green;
  overflow: hidden;
  @media(max-width:767px){
    .pb-5{
      padding-bottom: 0 !important;
    }
    .pt-5,.pt-4{
      padding-top: 0 !important;
    }
  }
  .btn-2{
    // @media(max-width:991px){
    //   min-width: 311px;
    // }
    @media(max-width:600px){

      display: block;
    }
  }
  .think_youre_covered{
    position: relative;
    @media(max-width:767px){
      padding-bottom: 30px;
    }
    @media(min-width:768px){
      &:before{
        position: absolute;
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        background: linear-gradient(137.65deg, #49706B 0%, #112729 99.83%);
        opacity: 0.2;
        box-shadow: 0px 41px 70px rgba(0, 0, 0, 0.18);
      }
      img{
        position: relative;
        left: -30px;
        top: 30px;
      }
    }

  }
  &:before{
    content: "";
    display: block;
    height: 1228px;
    width: 769px;
    background-image: url(../images/green____shape__left-min.png);
    background-size: 100%;
    position: absolute;
    top: 80px;
    left: 0px;
    background-repeat: no-repeat;
  }
  .long-term-care__slider{
    overflow: hidden;
    margin-left: -30px;
  }
  .long-term-care-icon{
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
    @media(max-width:767px){
      width: 56px;
    height: 56px;
    }
  }
  .long-term-care__slider__item{
    margin-bottom: 20px;
    float: none !important;
    height: auto;
  }
  .long-term-care__slider__item--inner{
    display: block;
    padding: 30px 15px;
    background-color: transparent;
    transition: background-color .5s ease-in-out,box-shadow .5s ease-in-out;
    // border-bottom: 1px solid #65B78F;
    height: 100%;
    position: relative;
    &:before{
      content: "";
      display: block;
      width: calc(100% - 30px);
      height: 1px;
      background-color: #316A4E;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

  }

}

.insurance-made-simple__about_us{
  position: relative;
  &:before{
    content: "";
    display: block;
    height: 1228px;
    width: 769px;
    background-image: url(../images/green____shape__right-min__2.png);
    background-size: 100%;
    position: absolute;
    top: 300px;
    right: 0px;
    z-index: 1;
  }
  &::after{
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 800px;
    background-color:#F4F4F4;
    // background:red;
    top: 0;
    left: 0;
    // opacity: .5;
  }
}

.insurance-made-simple{
  padding-top: 180px;
  padding-bottom: 30px;
  position: relative;
  // overflow: hidden;
  // background-color:#F9F9F9;
  &::before{
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 50%;
    background-color:#F9F9F9;
    opacity: .5;
  }
  .container{
    position: relative;
    z-index: 1;
  }
  // title-1
  .text-big-2{
    padding-bottom: 30px;
  }
  .insurance-made-simple-container{
    padding-top: 100px;
  }
  .insurance-made-simple__item{
    height: 100%;
    margin-bottom: 30px;
    .insurance-made-simple__item--inner{
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: block;
      position: relative;
      border-radius: 8px;
      padding:50px;
      min-height: 530px;
      &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: linear-gradient(146.44deg, rgba(0, 0, 0, 0.76) 3.6%, rgba(0, 0, 0, 0.64) 98.32%);
      }
      &:hover{
        text-decoration: none;
      }
      @media(max-width:1100px){
        padding:50px 30px;
      }
      .pre-title{
        text-transform: uppercase;
      }
      .text-4{
        position: absolute;
        bottom: 50px;
        text-transform: uppercase;
        color: #1CD771;
      }
    }
  }

}

.about_us{
  padding-top: 30px;
  padding-bottom: 60px;
  position: relative;
  overflow: hidden;
  .about_us_team{
    width: 2180px;
    margin-left: -15px;
    @media (max-width:1700px) {
      width: 120vw;
    }
    @media (max-width:1024px) {
      width: 140vw;
    }
    @media (max-width:767px) {
      width: 170vw;
    }
    .about_us_team__item{
      padding-left: 15px;
      padding-right: 15px;
      .about_us_team__item--item{
        position: relative;
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        padding:50px;
        min-height: 520px;
        @media (max-width:1024px) {
          min-height: 440px;
        }
        @media (max-width:767px) {
          min-height: 380px;
        }
        &::before{
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background: linear-gradient(46.82deg, rgba(4, 44, 17, 0.47) 3.78%, rgba(255, 255, 255, 0) 41.4%), linear-gradient(140.08deg, rgba(54, 114, 81, 0) 23.74%, rgba(21, 45, 31, 0.66) 100%);
        }
        .about_us_team__item--item-text{
          position: absolute;
          bottom: 50px;
          left: 50px;
        }
      }
    }
    .slick-arrow{
      position: absolute;
      top:-60px;
      transform: translateY(-70%);
      width: 52px;
      height: 52px;
      font-size: 0;
      color: transparent;
      border: 0;
      border-radius: 50px;
      background-color: transparent;
      background-size: 100%;
      background-repeat: no-repeat;
      z-index: 99;
      @media(max-width:991px){
        transform: translateY(-50%);
      }
      &.slick-prev {
        left: calc(1460px - 130px);
        background-image: url(../images/logo___slider___arrow-left-min.png);
        @media(max-width:1490px){
          left: calc((100vw - 60px) - 90px);
        }
      }
      &.slick-next{
        left: calc(1460px - 65px);
        background-image: url(../images/logo___slider___arrow-right-min.png);
        @media(max-width:1490px){
          left: calc((100vw - 60px) - 30px);
        }
      }
    }
    .slick-dots{
      list-style: none;
      justify-content: left;
      padding:0;
      margin:0;
      margin-top: 20px;
      display: flex !important;
      padding-left: 10px;
      button{
        border: 0;
        outline: none;
        background:transparent;
        font-size: 0;
        color: transparent;
        &::before{
          content: "";
          display: block;
          width: 9px;
          height: 9px;
          background-color: #DCDCDC;
          border-radius: 9px;
          transition: background-color .5s ease-in-out;
        }
      }
      li{
        &.slick-active,&:hover{
          button{
            &::before{
              background-color: #5A5A5A;
            }
          }
        }
      }

    }
  }


//

}
.testimonials{
  padding-top:140px;
  padding-bottom: 130px;
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
  margin-top: -30px;
  &:before{
    position: absolute;
    content: "";
    display: block;
    background-color:#F4F4F4;
    width:150%;
    height: calc(100% - 90px);
    top: 50px;
    left: 50%;
    transform: translateX(-50%) rotate(-2.5deg);
  }
  .testimonials-slider{
    .testimonials-slider__item{

    }
  }
  .testimonials__images__item--inner{
    @media(max-width:991px){
      display: flex !important;
      align-items: center;
      padding-bottom: 30px;
    }
  }
  .testimonials__images{


    .testimonials__images__item__image{
      width: 120px;
      height: 120px;
      margin-bottom: 20px;
      overflow: hidden;
      object-fit: cover;
      border-radius: 200px;
      background: #FFFFFF;
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.07), 0px 1px 2px rgba(0, 0, 0, 0.12);
      @media(max-width:991px){
        margin-right: 20px;
        width: 88px;
        height: 88px;
        margin-bottom: 0px;
      }
      img{
        max-width: 110%;
        max-height: 110%;
      }
    }
  }
  .testimonials__images__item__text{
    .testimonials__text__item--inner{

    }
    span{
      display: block;
      @extend .text;
      &:first-child{
        font-weight: bold;
        font-size: 24px;
      }
      &:last-child{
        color:#6B6B6B;
        font-size: 21px;
      }
    }
  }
  .testimonials__text__item{
    margin-bottom: 60px;
    padding-bottom: 30px;
    .testimonials__text__item--inner{
      margin-bottom: 20px;
      border-bottom: 1px solid #ccc;
      padding-bottom: 20px;
    }
  }
  .slick-arrow{
    position: absolute;
    bottom: 0px;
    width: 52px;
    height: 52px;
    font-size: 0;
    color: transparent;
    border: 0;
    border-radius: 50px;
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 99;

    &.slick-prev {
      left: 0px;
      background-image: url(../images/logo___slider___arrow-left-min.png);
      // @media(max-width:1490px){
      //   left: calc((100vw - 60px) - 90px);
      // }
    }
    &.slick-next{
      left: 60px;
      background-image: url(../images/logo___slider___arrow-right-min.png);
      // @media(max-width:1490px){
      //   left: calc((100vw - 60px) - 30px);
      // }
    }
  }
}

.testimonials__text-container{
  &:before{
    content: "";
    display: block;
    position: absolute;
    right: 30px;
    top: -200px;
    margin-bottom: 40px;
    width: 99px;
    height: 99px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../images/Quote-Smyobl.png);
    @media(max-width:991px){
      width: 70px;
      height: 70px;
      top: -100px;
    }
    @media(max-width:767px){
      display: none;
    }
  }

}

.ready_to_get_started{
  padding-top:180px;
  padding-bottom: 130px;
  position: relative;
  overflow: hidden;
  margin-bottom: 0px;
  margin-top: -120px;
  background-color:#F4F4F4;
  min-height: 800px;
  @media(max-width:991px){
    padding-bottom: 60px;
  }
  &:before{
    position: absolute;
    content: "";
    display: block;
    background-color:#082C1A;
    background-image: url(../images/get_start_circle.png);
    background-position: 40%;
    background-repeat: no-repeat;
    width:150%;
    height: 70%;
    top: 140px;
    left: 50%;
    transform: translateX(-50%) rotate(-2.5deg);

  }
  .card{
    max-width: 660px;
    margin-left: auto;
    margin-top: -160px;
    border: 0;
    background: #FFFFFF;
    box-shadow: 0px 60px 160px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    @media(max-width:991px){
      margin-top: 30px;
    }
    a:not(.btn){
      color: $green;
      &:hover{
        text-decoration: none;
        color: $black;
      }
    }
    h2{
      margin-bottom: 15px;
    }
    .card-body{
      padding: 60px 50px;
      @media(max-width:991px){
        padding: 24px 24px;
      }
      img{
        max-height: 65px;
        margin-bottom: 10px;
        @media(max-width:991px){
          max-height: 48px;
        }
      }
      hr{
        margin-top: 40px;
        margin-bottom: 35px;
      }
    }


  }
}

.footer{
  padding-top:40px;
  padding-bottom: 130px;
  background-color: #F4F4F4;
  .footer-logo{
    a{
      display: block;
    }
    img{
      max-width: 122px;
    }
  }
  .footer-social{
    list-style: none;
    margin:0;
    padding:0;
    display:flex;
    margin-top:25px;
    margin-bottom: 25px;
    li{
      margin-right: 20px;
    }
    img{
      a{
        display: block;
      }
      img{
        max-width: 56px;
      }
    }
  }
  h4{
    margin-bottom: 15px;
  }
  a{
    color: #0D193F;
    &:hover{
      color: $green;
      text-decoration: none;
    }
  }
  .footer-text{
    p{
      color: #616161;
      margin-bottom: 30px;
    }
  }
}

.modal-header{
  height: 0;
  border:0;
  padding:0;
  position: relative;
  z-index: 99;
  .close{
    position: relative;
    top: 20px;
    right: 20px;
  }
}

.modal-body{
  padding:80px 100px;
  @media(max-width:991px){
    padding:40px 40px;
  }
  @media(max-width:600px){
    padding:40px 24px;
  }
}

.modal-lg{
  max-width: 1480px;
}

.tooltip{
  width:300px;
  .tooltip-inner{
    background-color: #ffffff;
    color: #000000;

  }
}

.form-footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ffffffcc;
  z-index: 999;
  .form-footer-btn-prev,
  .form-footer-btn-next{
    .btn{
      min-width: 212px;
    }

  }
  .form-footer-progress{
    flex: 1;
    padding:10px 126px;
  }
  .progress{
    background-color: #DFEAE4;
    border-radius: 30px;
    height: 13px;
  }
  .form-footer-container{
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
// .form-item{
//   display: none
// }

.form-body{
  overflow: hidden;
  .form-container{
    position: relative;
    .form-item{
      opacity: 0;
      transform: translateX(140%);
      position: absolute;
      &.active{
        opacity: 1;
        position: static;
        transform: translateX(0%);
      }
      &.done{
        opacity: 1;
        transform: translateX(-140%);
      }
    }
  }
}















